LambdaFunctions/state_machine_final.json
{
  "Comment": "DevAngel Pipeline with API notification",
  "StartAt": "SourceAdapter",
  "States": {
    "SourceAdapter": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:478047815638:function:SourceAdapter",
      "Next": "ErrorAnalyzer"
    },
    "ErrorAnalyzer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:478047815638:function:ErrorAnalyzer",
      "InputPath": "$.source_adapter_output",
      "ResultPath": "$.error_analyzer_output",
      "Next": "ErrorSummarizer"
    },
    "ErrorSummarizer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:478047815638:function:ErrorSummarizer",
      "ResultPath": "$.error_summarizer_output",
      "Next": "NotifyAPI"
    },
    "NotifyAPI": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:478047815638:function:APINotifier",
      "End": true
    }
  }
}
